/*=== Aplicando CSS general ===*/
body{
    background-color: #00425A;
}

.container img{
    width: 100%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
    gap: 15px;
    
}

li{
    align-content: center;
}

h2{
    color: #1F8A70;
    text-align: center;
}
h3{
    color: #FC7300;
}

h4{
    color: #EFF5F5;
}

p{
    color: #EFF5F5;
    text-align: justify;
}

a{
    text-decoration: none;
    color: #EFF5F5;    
}

form{
    color: #EFF5F5;
}

textarea {
    height: 100px;
    width: 100%;
    resize: none;
}

article{
    margin-bottom: 5%;
}


/*=== Aplicacndo CSS al encabezado ===*/

.p-2 {
    padding: 0 !important;
    font-size: medium;
}

button:hover{
    animation: ani 8s linear infinite;
    border: none;
}

@keyframes in{
    0%{
        background-position: 0%;
    }

    100%{
        background-position: 400%;
    }
}

button::before{
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4,#f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
}

button:hover::before{
    filter: blur(20px);    
}

button:active{
    background: linear-gradient(90deg, #03a9f4,#f441a5, #ffeb3b, #03a9f4);
}


    /*=== Aplicando comportamiento resposive o adaptativo===*/

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    /*=== Aplicando CSS al encabezado===*/
    #menuEncabezado{
        display: grid;        
        align-items: center;
                       
    }

    #menuSesion{
        display: inline-flex;
        flex-direction: row;
    }

    #menuNavegacion{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        text-align: center;
        font-size: 18px; 
    }    

    #logo{
        background-color: #EFF5F5;
        width: 50%;        
    }

#subtituloBanner{
    position: relative;    
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0,0,0, 0.6);
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    margin: 0;
}

    nav ul li a:hover {
        animation: ani 8s linear infinite;
        border: none;
        background-color: #012735;
        border-radius: 15px;
        padding: 8px 16px;
        
    }

    

    /*Aplicando CSS al párrafo*/
    p{
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    h2,h3,h4,h5{
        font-size: 35px;
        margin: 0%;
    }

    article{
        padding: 0%;
    }

    section{
        padding-top: 5%;
    }
    
    button{
        text-decoration: none;
        position: relative;
        border: none;
        color: #EFF5F5;
        font-size: 25px;
        width: 8em;
        height: 3em;    
        text-align: center;
        background: linear-gradient(90deg, #03a9f4,#f441a5, #ffeb3b, #03a9f4);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
    }

    button:hover{
        animation: ani 8s linear infinite;
        border: none;
    }

    @keyframes in{
        0%{
            background-position: 0%;
        }
    
        100%{
            background-position: 400%;
        }
    }

    button::before{
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #03a9f4,#f441a5, #ffab3b, #03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
    }

    button:hover::before{
        filter: blur(20px);
    }
    
    button:active{
        background: linear-gradient(90deg, #03a9f4,#f441a5, #ffab3b, #03a9f4);    
    }

    strong{
        font-size: 25px;
    }

    #quienesSomos{
        display: inline-flex;
                                 
    }
    #imgQuien{
        width: 50%;
    }   
    
    #descripcionQuienes{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #porQueElegirnos{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    #formacionIntegral{
        display: grid;
        grid-template-columns: repeat(2,1fr);        
        align-items: center;
    }

    #ultimasNoticias{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

    

    /*=== Aplicando CSS al Footer===*/

    #piePagina{
        display: grid;        
    }
    #contactoSocial{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-items: center;
        align-items: center;
        color: #EFF5F5;
    }

    
    .botonComentario{
        position: relative;
        display: grid;
        justify-content: center;
        padding: 20px;
        color: #EFF5F5;
        border-radius: 30px;
        transition: box-shadow 1s;
        animation: ani 8s linear infinite;
    }
        
    ion-icon{
        color: #EFF5F5;
        font-size: 2rem;
    }
    #subir{
        display: grid;        
        justify-content: center;
    }
}

@media (min-width: 768px) {
    /*=== Aplicando comportamiento responsive a adaptativo ===*/

    
}



