/* Aplicando CSS general */

body {
    background-color: #00425A;
    color: #EFF5F5;
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #1F8A70;
    font-family: 'Belanosima', sans-serif;
}

h3 {
    color: #FC7300;
    font-family: 'Belanosima', sans-serif;
}

p {
    color: #EFF5F5;
    
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-end: 0;
    gap: 15px;
}

textarea{
    resize: none;
}
.container img{
        width: 100%;
}

.banner-container {
    position: relative;
}

.banner-image {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:  #EFF5F5;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2%;
}

.icon-wrapper {
    display: inline-block;
    margin-right: 5px;
}

  /* Stilos de la barra de navegación */
.navbar {
    background-color: #00425A;
}

.navbar-brand img {
    background-color: #EFF5F5;
    padding: 5px;    
}

.my-5{
    padding: 0;
}
